#screen.scenario-broceliande .button {
    filter: drop-shadow(0 0 5px black);
}

#screen.scenario-broceliande .button.button-image.button-hover {
    filter: drop-shadow(0 0 5px black) brightness(130%);
}


#screen.scenario-broceliande .button.button-disabled {
    filter: drop-shadow(0 0 5px black) grayscale(1);
}

#screen.scenario-broceliande .button.button-switch-off {
    filter: drop-shadow(0 0 5px black) grayscale(1);
}

#screen.scenario-broceliande .button-image {
    color: white !important;
}