* {
    webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html, body, div, img, form, audio, video, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 16px;
    vertical-align: baseline;
    font-family: "Helvetica", serif;
}

html {
    overflow: hidden;
    overscroll-behavior: none;
}

body {
    background-color: black;
}

#main {
    display: flex;
    align-items: center;
    justify-content: center;
}

#screen {
    background-color: black;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    position: relative;
    width: 100%;
}

#screen div {
    font-size: inherit;
}

#screen div.progressBar {
    border: solid 1px white;
    background-color: #333333;
    padding: 0;
    margin: 5px;
    height: 20px;
}

#screen div.progressBar div {
    border: none;
    background-color: #DDDDDD;
    margin: 0;
    padding: 0;
    height: 20px;
    width: 0;
}